body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mySlides {
  display: flex;
  justify-content: center;
}
#dashboard {
  font-size: 0.4em;
}
td {
  margin:1em;
}
.episodes-title{
  position: absolute;
  top: 0;
  width: 30%;
  height: 25%;
}
.btn_normal {
  font-family: poppins-extralight, poppins, sans-serif;
  font-size: 16px;
  margin:15px 0;
}
.btn_normal:link, .btn_normal:visited {
  background-color: #f44336;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.btn_normal:hover, .btn_normal:active {
  background-color: red;
}
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-bottom: 100px;
}

.slide-bg-img{
    opacity: 0.8;
    height: 15em;
}
.orangeText {
  color:rgb(224, 69, 2);
  text-shadow:#ffffff 3px 3px 0px rgba(0, 0, 0, 0.2) 6px 6px 0px
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.slide-para-1{
  position: absolute;
  top: 25%;
  padding: 0 10% 10% 10%;
  font-weight: bolder;
  color:#fff;
  text-shadow: 4px 6px black;
  font-size: 3.6vh;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.2;
  letter-spacing: 0.1em;
}
#dashboard td {
  margin:1em;
}
.about_para{
  color:black;
  text-shadow: 4px 6px white;
  font-size: 0.6em;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.2;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 720px) {

.slide-para-1 {
  font-size: 3.6vw;
}
}